@use './variables' as vars;
@use './navIcons' as navIcons;

@mixin app() {

    main{
        margin: 0 2rem;
        text-align: center;
        position: relative;
    }

    nav{
        background: vars.$light-violet;
        text-align: right;
        padding: 1rem;
        min-height: 24px;
    }


    .mobile-back{
        min-height: 100vh;
        min-width: 100vw;
        position: absolute;
        background: vars.$background-mobile;
        top: 56px;
        left: 0;
        right: 50%;
        z-index: 1;
        display: none;
    }

    h1{
        font-size: 3rem;
    }

    .cities-box{
        position: absolute;
        display: none;
        top: 0%;
        left: 5%;
        right: 5%;
        z-index: 2;


        .city{
            width: 100%;
            color: vars.$text-white;
            font-family: vars.$font;
            font-size: 16px;
            background: vars.$light-violet-full;
            border: none;
            padding: .7rem 0;
            font-size: 1.4rem;
            transition: background 0.2s ease;

            &:nth-of-type(1){
                border-radius: 20px 20px 0 0;
            }

            &:nth-last-of-type(1){
                border-radius: 0 0 20px 20px;
            }

            &:active{
                box-shadow: inset 1px 1px 1px 1px rgba(35, 22, 81, 0.75);
            }
        }

        
    }

    @include navIcons.iconAnimation();
}