@use './variables' as vars;

@mixin current {
    .current-box{
        text-align: left;
        background: vars.$light-violet;
        border-radius: 20px;
        padding: 2rem;
    }

    .big-box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .big-icon{
            margin: auto 0 auto 1rem;
            background: vars.$dark-violet;
            padding: .7rem;
            border-radius: 20px;
        }

        .big-text{
            p{
                margin: 0;
                font-size: clamp(.9rem, 1.5vw, 3rem);
            }

            p:nth-of-type(2){
                font-weight: 500;
            }

            h2{
                margin: .3rem 0;
                font-size: clamp(2rem, 3.5vw, 6rem);
            }
        }
    }
    
    .wea-pic{
        margin: auto;
        font-size: 550%;
    }

    .wea-pic-next{
        font-size: 250%;
    }

    .mobi-icon{
        font-size: 300%;
    }

    a{
        color: white;
        margin-top: 1rem;
    }

    .info-box{
        display: flex;
        margin-top: 2rem;
        flex-wrap: wrap;

        .four-icon-box{
            width: 50%;
            margin: .7rem 0;
            font-size: clamp(1rem, 2.5vw, 5rem);
            font-weight: 200;
        }

        svg{
            margin-right: 1rem;
            color: vars.$dark-violet;
        }
    }

    .desktop{
        display: none;
    }
}