@use './variables' as vars;

@mixin responsive {
    
    @media screen and (min-width: 650px) {

        main{
            margin: 0 4rem;
        }

        h1{
            text-align: left;
            margin: 4rem 0 3rem 0;
        }
        
        .big-box{
            flex-direction: row;
            justify-content: left;
            width: 75%;

            .big-text{
                margin: auto 0 auto 3rem;
                width: 100%;
            }
        }

        .info-box{
            margin-top: .8rem;
            flex-wrap: nowrap;
            
            .four-icon-box{
                width: 100%;
            }

            svg{
                margin-right: .7rem;
            }
        }

        .mobile{
            display: none;
        }
        
        .desktop{
            display: flex;
        }

        .desk-style{
            flex-wrap: wrap;
            width: 20%;
            min-height: 100%;
            margin: 0;
            background: vars.$dark-violet;
            padding: .7rem;
            border-radius: 20px;

             img{
                 margin: auto;
                 width: 80%;
             }
        }

        .current-box{
            display: flex;
            flex-wrap: wrap;
        }
        

        .small-box{
            width: 18%;
            margin-left: 0;
        }

        nav{
            display: none;
        }

        .cities-box{
            display: flex;
            position: static;
            margin: 0 0 2rem 0;
            transition: background .9s ease;

            .city{
                background: vars.$light-violet;
                font-weight: 100;
                cursor: pointer;
                box-shadow: 4px 7px rgb(24, 18, 26);
                padding: 1rem 0;
                
                &:nth-of-type(n){
                    border-radius: 15px;
                    margin-right: 2rem;
                }

                &:nth-of-type(5){
                    margin-right: 0;
                }

                &:hover{
                    background: vars.$light-violet-full;
                }
            }
        }
    }
}