////////////////Colors
$text-white: #ececec;
$dark-violet: #231651;
$light-violet: rgba(147, 129, 255, .47);
$light-violet-full: #9381FF;
$background-mobile: rgba(0, 0, 0, 0.61);


/////////////font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$font: 'Lato', sans-serif;
