@use './variables' as vars;
@use './app' as app;
@use './current' as current;
@use './nextDays' as next;

html{
    box-sizing: border-box;
    height: 100vh;
}

body{
    
    margin: 0;
    background: vars.$dark-violet;
    color: vars.$text-white;
    font-family: vars.$font;
    font-size: 16px;
}

@include app.app();
@include current.current();
@include next.nextDays();